body {
    margin: 0;
}
.mobile {
    width: 320px;
    background-color: #3C3B4E;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.thebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}