body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.mobile {
    width: 414px;
    background-color: #3C3B4E;
    align-items: center;
    padding: 20px;
    /* position: relative; */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.thebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}